@import "rw-shared";

.rw-dropdownlist {
  position: relative;
  cursor: pointer;
  overflow: hidden;

  &.rw-open {
    overflow: visible;
  }

  .rw-dropdownlist-picker {
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;
  }
}
