@import "variables";

$app-base-screen-xsmall:        320px;
$app-base-screen-small:         550px;
$app-base-screen-medium:        750px;
$app-base-screen-large:         1024px;

$screen-xs: 480px !default;
$screen-sm: 768px !default;
$screen-md: 992px !default;
$screen-lg: 1200px !default;

[data-am-hide] { display: inherit; }
[data-am-show] { display: none; }

@media (min-width: $app-base-screen-large) {
  [data-am-hide~="xlarge"] { display: none !important; }
  [data-am-show~="xlarge"] { display: inherit !important; }
}

@media (min-width: $app-base-screen-medium) and (max-width: $app-base-screen-large)  {
  [data-am-hide~="large"] { display: none !important; }
  [data-am-show~="large"] { display: inherit !important; }
}

@media (min-width: $app-base-screen-small) and (max-width: $app-base-screen-medium)  {
  [data-am-hide~="medium"] { display: none !important; }
  [data-am-show~="medium"] { display: inherit !important; }
}

@media (min-width: $app-base-screen-xsmall) and (max-width: $app-base-screen-small) {
  [data-am-hide~="small"] { display: none !important; }
  [data-am-show~="small"] { display: inherit !important; }
}

@media (max-width: $app-base-screen-xsmall) {
  [data-am-hide~="xsmall"] { display: none !important; }
  [data-am-show~="xsmall"] { display: inherit !important; }
}