@import "colors";

$color-link: $color-indigo;
$color-link-hover: $color-cornflower-blue;

//
// Scaffolding
// --------------------------------------------------

* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}


// Body reset
html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


a{
	color: $color-link;
	&:hover{
		color: $color-link-hover;
		text-decoration: none;
	}
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
