@import "colors";

// Variables
$font-family-sans-serif:  "Whitney HTF", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 14px;

$color-body: $color-silver-chalice;
$color-heading: $color-mine-shaft;
$color-h4: $color-alto;

body {
  font-family: $font-family-sans-serif;
  font-size: $base-font-size;
  color: $color-body;
}

p {
  font-size: 1em;
  line-height: 1.1429em;
  margin: 0 0 1.1429em 0;
}



// -----------------------
// Working on 16px baseline grid
// -----------------------


// ----------------
// Sizes
// ----------------
%size-48 {
	font-size: 3.4286em;
  line-height: 1.0000em;
  margin-top: 0.3333em;
  margin-bottom: 0.0000em;
}

%size-36 {
	font-size: 2.5714em;
	line-height: 1.3333em;
  margin-top: 0.4444em;
  margin-bottom: 0.0000em;
}

%size-32 {
	font-size: 2.2857em;
  line-height: 1.0000em;
  margin-top: 0.5000em;
  margin-bottom: 0.0000em;
}

%size-28 {
	font-size: 2.0000em;
  line-height: 1.1429em;
  margin-top: 0.5714em;
  margin-bottom: 0.0000em;
}

%size-24 {
	font-size: 1.7143em;
  line-height: 1.3333em;
  margin-top: 0.6667em;
  margin-bottom: 0.0000em;
}

%size-20 {
	font-size: 1.4286em;
  line-height: 1.6000em;
  margin-top: 0.8000em;
  margin-bottom: 0.0000em;
}

%size-16 {
	font-size: 1.1429em;
  line-height: 1.0000em;
  margin-top: 1.0000em;
  margin-bottom: 0.0000em;
}

%size-14 {
	font-size: 1.0000em;
  line-height: 1.1429em;
  margin-top: 1.1429em;
  margin-bottom: 0.0000em;
}

%size-11 {
	font-size: 0.7857em;
  line-height: 1.4545em;
  margin-top: 1.4545em;
  margin-bottom: 0.0000em;

  // why is this in here :/
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
}


// ----------------
// Headings
// ----------------
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
	font-weight: 300;
	color: $color-heading;
}


h1 ,.h1{
	@extend %size-32;
}

h2, .h2{
	@extend %size-24;
}

h3, .h3{
	@extend %size-20;
}

h4, .h4{
	@extend %size-11;
	color: $color-h4; //TODO: this really shouldn't be here...
}

h5, .h5{
	font-weight: 600;
}

h6, .h6{
	font-weight: 600;
}