.dropdown-arrow-container{
  .overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .rw-dropdownlist{
    border: none;
      position: absolute;
  right: 0;
  min-width: 120px;
  }
  .rw-input {
    display: none;
    height: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .rw-select{
    height: 0px;
    display: none;
  }
  .rw-popup-container{
    min-width: 120px;
  }
  .rw-popup{
    border-color: #b2bdc9;
    box-shadow: 1px 1px 2px rgba(0,0,0,.15);
    border-top: 1px solid #b2bdc9;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    ul{

      &.rw-list>li.rw-list-option,
      &.rw-list>li.rw-list-option.rw-state-focus,
      li{
        background: #fff;
        font-size: 13px;
        color: #606060;
        padding-left: 10px;
      }
      &.rw-list>li.rw-list-option:hover,
      &.rw-list>li.rw-list-option.rw-state-focus:hover{
        background: #8d9daf;
        color: #ffffff;
      }
    }
  }
  button.trigger{
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    text-align: right;
    color: #666;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    font-size: 12px;
    padding: 5px 10px 5px 0px;
    position: relative;
    &:after{
      width: 5px;
      right: 0;
      top: 11px;
      content: '';
      pointer-events: none;
      height: 1px;
      position: absolute;
      transform: rotate(-135deg);
      background-color: #969798;
      -webkit-backface-visibility: hidden;
    }
    &:before{
      width: 5px;
      right: 3px;
      top: 11px;
      content: '';
      pointer-events: none;
      height: 1px;
      position: absolute;
      transform: rotate(-45deg);
      background-color: #969798;
      -webkit-backface-visibility: hidden;
    }
    div{
      &:after{
        width: 5px;
        right: 0;
        top: 16px;
        content: '';
        pointer-events: none;
        height: 1px;
        position: absolute;
        transform: rotate(-225deg);
        background-color: #969798;
        -webkit-backface-visibility: hidden;
      }
      &:before{
        width: 5px;
        right: 3px;
        top: 16px;
        content: '';
        pointer-events: none;
        height: 1px;
        position: absolute;
        transform: rotate(-135deg);
        background-color: #969798;
        -webkit-backface-visibility: hidden;

      }
    }
  }
}







