@import 'inputs';

.LinkGroup {
  .Link {
    border: $input-border-width solid $input-border-color;
    border-right-width: 0;
    height: $input-height;
    padding: $input-padding;
    display: inline-block;
    color: $input-text-color;
    transition: background .2s;
    line-height: 1.3;

    &:hover {
      background: $input-state-hover;
    }
    &.active {
      background: $input-state-focus;
      color: $input-state-focus-text;
      border-right-width: $input-border-width;
      &+ .Link {
        border-left-width: 0;
      }
      &:last-child {
       border-right-width: $input-border-width;
      }
    }

    &:first-child {
      border-radius: $input-border-radius 0 0 $input-border-radius;
    }
    &:last-child {
      border-radius: 0 $input-border-radius $input-border-radius 0;
      border-right-width: $input-border-width;
    }
  }
}