@import "colors";

$button-font-family: 'Open Sans', 'Helvetica Neue', 'Arial', 'Helvetica', 'sans-serif' !default;
$button-font-weight: 400 !default;
$button-font-size: .8em !default;

$color-button-default: $color-white !default;
$color-button-default-background: rgb(136, 153, 172) !default;

$color-button-success: $color-white !default;
$color-button-success-background: rgb(0, 197, 158) !default;

$color-button-cancel: $color-scorpion !default;
$color-button-cancel-background: transparent !default;

$color-button-danger: $color-white !default;
$color-button-danger-background: rgb(255, 104, 77) !default;

$color-button-skeleton: $color-scorpion !default;

.Button + .Button {
  margin-left: 5px; // pad buttons when they are next to each other
}

.Button {
  display: inline-block;
  border: 0;
  border-radius: .3em;
  margin-bottom: 0;
  padding: .8em 1.5em;
  line-height: 1.25em;
  font-size: $button-font-size;
  font-family: $button-font-family;
  font-weight: $button-font-weight;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
  color: $color-button-default;
  background-color: $color-button-default-background;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent; // needed for some Android devices

  &[disabled] {
    &,
    &:hover,
    &:active {
      color: transparentize(white, .3);
      opacity: 1;
      cursor: not-allowed;
      background-image: linear-gradient(to bottom, rgba(192, 192, 192, .7) 0%, rgba(192, 192, 192, .7) 100%);
    }
  }

  &:focus {
    outline: 0;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, .15) 0%, rgba(255, 255, 255, .15) 100%);
  }

  &:hover {
    opacity: .9;
  }

  &:active {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, .3) 0%, rgba(255, 255, 255, .3) 100%);
  }
}

.Button--success {
  color: $color-button-success;
  background-color: $color-button-success-background;
}

.Button--cancel {
  color: $color-button-cancel;
  background-color: $color-button-cancel-background;
  background-image: none;
  text-shadow: none;

  &:focus {
    background: rgba(0, 0, 0, .1);
  }

  &:active {
    background: rgba(0, 0, 0, .2);
  }
}

.Button--danger {
  color: $color-button-danger;
  background-color: $color-button-danger-background;
}

.Button--skeleton { // TODO: replace with a <a> link component
  color: $color-button-skeleton;
  background-color: transparent;
  background-image: none;

  &:focus {
    background: rgba(0, 0, 0, .1);
  }

  &:active {
    background: rgba(0, 0, 0, .2);
  }
}

.Button--small {
  padding: .45em 1em;
}
