.Button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 1em;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background: gray;
  color: white;
  border: 1px solid transparent;
  white-space: nowrap;
  user-select: none;
  padding: 6px 10px;
  border-radius: 3px;
  border-bottom: 2px solid black;

  &:hover {
    opacity: 0.9;
  }
}