@import "colors";

$input-base-color: #243b5d;
$input-background-color: #fdfdff;
$input-border-color: rgba($input-base-color, .25);
$input-border-radius: 3px;
$input-border-width: 1px;

$input-text-color: inherit;
$input-placeholder-color: inherit;

$input-height: 38px;
$input-padding: 8px 10px;
$input-line-height: 1.3;

$input-state-hover: rgba($input-base-color, .10);
$input-state-focus: rgba($input-base-color, .50);
$input-state-focus-text: #fff;

$input-state-error: #d46060;

@mixin text-input-style {
  display: block;
  width: 100%;
  height: $input-height;
  min-height: $input-height;
  padding: $input-padding;
  line-height: $input-line-height;
  color: $input-text-color;
  background-color: $input-background-color;
  background-image: none;
  border: $input-border-width solid $input-border-color;
  border-radius: $input-border-radius;
  outline: none;
  box-sizing: border-box;
  transition: all .1s;
  &::placeholder {
    color: $input-placeholder-color;
    opacity: .4;
  }
  &:focus {
    border-color: $input-state-focus;

    &::placeholder {
      color: inherit;
      opacity: .15;
    }
  }
}

.button-trigger{
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  width: 100%;
  text-align: right;
  color: #666;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  font-size: 12px;
  padding: 5px 10px 5px 0px;
  position: relative;
  &:after{
    width: 5px;
    right: 0;
    top: 11px;
    content: '';
    pointer-events: none;
    height: 1px;
    position: absolute;
    transform: rotate(-135deg);
    background-color: #969798;
    -webkit-backface-visibility: hidden;
  }
  &:before{
    width: 5px;
    right: 3px;
    top: 11px;
    content: '';
    pointer-events: none;
    height: 1px;
    position: absolute;
    transform: rotate(-45deg);
    background-color: #969798;
    -webkit-backface-visibility: hidden;
  }
  div{
    &:after{
      width: 5px;
      right: 0;
      top: 16px;
      content: '';
      pointer-events: none;
      height: 1px;
      position: absolute;
      transform: rotate(-225deg);
      background-color: #969798;
      -webkit-backface-visibility: hidden;
    }
    &:before{
      width: 5px;
      right: 3px;
      top: 16px;
      content: '';
      pointer-events: none;
      height: 1px;
      position: absolute;
      transform: rotate(-135deg);
      background-color: #969798;
      -webkit-backface-visibility: hidden;

    }
  }
}