@import "./inputs.scss";

/*Variables*/
$btn-bg:                    #fff;
$btn-color:                 #333;
$btn-border:                #ccc;

$state-bg-select:           rgba(#243b5d, .50);
$state-border-select:       rgba(#243b5d, .50);
$state-color-select:        #fff;

$state-bg-hover:            rgba(#243b5d, .10);
$state-border-hover:        rgba(#243b5d, .10);
$state-color-hover:         #333;

$widget-bg:                 #fdfdff;
$widget-border:             rgba(#243b5d, .25);

$state-bg-focus:            rgba(#243b5d, .10);
$state-border-focus:        rgba(#243b5d, .10);
$state-color-focus:         #333;

$input-color:               inherit;
$input-bg:                  #fdfdff;
$input-bg-disabled:         inherit;

$input-bg-gradient:         none;
$input-color-placeholder:   inherit;

$input-border-radius:       3px;
$input-border:              rgba(#243b5d, .25);

$input-bg-hover:            rgba(#243b5d, .10);
$input-border-hover:        rgba(#243b5d, .10);

$input-border-focus:        rgba(#243b5d, .50);

$dropdown-bg:               #fdfdff;
$dropdown-border:           rgba(#243b5d, .25);

$list-bg-hover:             rgba(#243b5d, .10);
$list-border-hover:         rgba(#243b5d, .10);

$popup-bg:                  #fdfdff;
$popup-border:              $rgba(#243b5d, .25);
$popup-zindex:              1005;


/*Mixins*/
@define-mixin list-unstyled {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

@define-mixin list-inline {
  margin: 0;
  padding-left: 0;
  list-style: none;

  & > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@define-mixin border-left-radius $radius {
  border-bottom-left-radius: $radius;
     border-top-left-radius: $radius;
}

@define-mixin border-bottom-radius $radius {
  border-bottom-right-radius: $radius;
   border-bottom-left-radius: $radius;
}

@define-mixin border-top-radius $radius {
  border-top-right-radius: $radius;
   border-top-left-radius: $radius;
}

@define-mixin border-right-radius $radius {
  border-bottom-right-radius: $radius;
     border-top-right-radius: $radius;
}

@define-mixin transition $transition {
  -webkit-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

@define-mixin state-select {
  background-color: $state-bg-select;
  border-color:     $state-bg-select;
  color:            $state-color-select;
}

@define-mixin state-hover {
  background-color: $state-bg-hover;
  border-color:     $input-border-color;
  color:            $state-color-hover;
}

@define-mixin state-disabled {
  cursor: not-allowed;
}

@define-mixin state-focus {
  background-color: $state-bg-focus;
  color:            $state-color-focus;
}
