// Layout
$app-base-padding: 20px;
$app-sidebar-width: 200px;
$nav-primary-height: 40px;
$nav-secondary-height: 60px;

// Severities
$severity-not-set-color:    transparent;
$severity-critical-color:   #d50000;
$severity-important-color:    #ffdc00;
$severity-normal-color:     #4fbfff;
$severity-minor-color:      #c0d33c;
