$color-pie: #a7cd45;

.PieBadge {
  width: 32px;

  circle {
    fill: #eee;
    stroke-width: 3px;
  }

  &.PieBadge--complete {
    circle {
      fill: $color-pie;
    }
  }

  .PieBadge-pie {
    fill: $color-pie;
  }

  .PieBadge-check {
    fill: white;
  }
}
