@import "colors";

$default-size: 40px;
$color-path: $color-scorpion;

.Loading {
  width: 100%;
  text-align: center;

  svg {
    width: $default-size;
    height: $default-size;
    animation: rotate 0.8s infinite linear;
    transform-origin: center;

    path {
      fill: $color-path;
    }
  }

  &.Loading--small {
    svg {
      width: 16px;
      height: 16px;
    }
  }

  &.Loading--medium {
    svg {
      width: 29px;
      height: 29px;
    }
  }
}

@keyframes rotate {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}
