@import "../../style/colors.scss";

$default-size: 40px;
$color-main: $color-alto;
$color-secondary: $color-silver-chalice;
$color-path: rgba(96, 96, 96, 1);

.Loading {
  width: 100%;
  text-align: center;

  svg {
    width: $default-size;
    height: $default-size;
  }

  .Loading-main {
    fill: $color-main;
  }

  .Loading-secondary {
    fill: $color-secondary;
  }

  .Loading--circle {
    animation: rotate 0.8s infinite linear;
    transform-origin: center;

    path {
      fill: $color-path;
    }
  }

  &.Loading--small {
    svg {
      width: 16px;
      height: 16px;
    }
  }

  &.Loading--medium {
    svg {
      width: 29px;
      height: 29px;
    }
  }

  .Loading-top {
    animation: fadeloop 1.5s infinite 0.4s;
  }

  .Loading-middle {
    animation: fadeloop 1.5s infinite 0.2s;
  }

  .Loading-bottom {
    animation: fadeloop 1.5s infinite 0s;
  }
}

@keyframes fadeloop {
  0%   {opacity: 0;}
  50%  {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes rotate {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}
