@import "colors";
@import "pixels-to-em";

$default-size: pixelsToEm(40);
$color-path: $color-scorpion;

.Loading {
  width: 100%;
  text-align: center;

  svg {
    width: $default-size;
    height: $default-size;
    animation: rotate 0.8s infinite linear;
    transform-origin: center;

    path {
      fill: $color-path;
    }
  }

  &.Loading--small {
    svg {
      width: pixelsToEm(16);
      height: pixelsToEm(16);
    }
  }

  &.Loading--medium {
    svg {
      width: pixelsToEm(29);
      height: pixelsToEm(29);
    }
  }
}

@keyframes rotate {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}
