@import "colors";
@import "placeholders";

$color-todo-list-item-complete: $color-gull-gray !default;
$color-todo-list-item-border: $color-catskill-white !default;

.Todo-list {
  margin-bottom: 10px;
}

.TodoItem {
  height: auto;
  padding: 2px 0;
}

.TodoItem-complete {
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 13px;
}

.TodoItem-edit {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 50px);
  margin: 0 10px;

  .Form-item {
    margin: 0;

    label {
      display: none;
    }
  }

  &.is-active {

    .Form-item {
      margin-bottom: 10px;
    }
  }

}

.TodoItem-edit--complete {

  display: inline-block;
  vertical-align: top;

  .CancelableEdit-edit {
    color: $color-todo-list-item-complete;
    text-decoration: line-through;
  }
}

.TodoItem-delete {
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 6px;
}
