@import "colors";

$color-item-done: $color-gull-gray;
$color-item-border: $color-catskill-white;
$color-todo-new: $color-scorpion;
$color-todo-new-background: $color-white;
$color-todo-new-border: $color-catskill-white;
$color-todo-cancel: $color-silver-chalice;
$color-todo-cancel-hover: $color-mine-shaft;
$color-item-cancel: $color-scorpion;
$color-item-cancel-hover: $color-mine-shaft;

.Todo {
  padding: 5px 0 20px 0;

  .Todo-controls {
    padding: 10px;

    .Todo-controls-create {
      cursor: pointer;
      padding: 10px;
    }

    .Todo-controls-new {
      display: none;

      input {
        display: block;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: $color-todo-new;
        background-color: $color-todo-new-background;
        background-image: none;
        border: 1px solid $color-todo-new-border;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba($color-black, 0.075);
        margin-bottom: 6px;
      }

      button {
        margin-right: 6px;
      }
    }

    &.is-creating {
      .Todo-controls-create {
        display: none;
      }

      .Todo-controls-new {
        display: inherit;
      }
    }

    input {
      width: 100%;
    }
  }

  .Todo-list {
    margin-bottom: 20px;

    &.Todo-list--complete {
      margin-top: 10px;
    }
    &.Todo-list--complete .Todo-list-item > span {
      color: $color-item-done;
      text-decoration: line-through;
    }

    .Todo-list-item {
      padding: 10px;
      border-bottom: 1px solid $color-item-border;

      input[type="checkbox"] {
        margin-right: 5px;
      }

      .Todo-list-item-name {
        &:hover {
          cursor: pointer;
        }

        .is-editing & {
          display: none;
        }
      }

      input[type="text"] {
        margin-right: 5px;
        display: none;
      }

      &.is-editing input[type="text"] {
        display: inline-block;
      }

      .Todo-list-item-save, .Todo-list-item-cancel {
        display: none;

        .is-editing & {
          display: inline-block;
        }
      }

      .Todo-list-item-save {
        padding: 5px 10px;
        margin: 10px 10px 10px 0;
      }

      .Todo-list-item-cancel {
        color: $color-item-cancel;

        &:hover {
          color: $color-item-cancel-hover;
          cursor: pointer;
        }
      }

      .Todo-list-item-delete {
        float: right;
        font-size: 11px;
        display: none;
        cursor: pointer;
      }

      &:hover .Todo-list-item-delete {
        display: inline-block;
      }
    }
  }
}
