@import "colors";

$modal-max-width: 1280px;
$modal-main-breakpoint: 1045px;
$modal-padding: 15px;

$color-dialog-background: $color-white;
$color-modal-box-shadow: rgba($color-black, 0.5);
$color-modal-background: rgba($color-black, 0.4);

$transition-length: 0.2s;

.Modal {
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  background: $color-modal-background;
  opacity: 0;
  transition: all $transition-length ease;

  &.Modal--visible {
    opacity: 1;
  }

  @media (max-width: $modal-main-breakpoint) {
    width: 200%;
    overflow: hidden;
  }
}

.Modal-dialog {
  transition: all $transition-length ease;
  height: calc(100% - 60px);
  box-shadow: 0 3px 9px $color-modal-box-shadow;
  min-height: 500px;
  background: $color-dialog-background;
  border-radius: 5px;
  overflow: hidden;
  max-width: $modal-max-width;
  width: 95%;
  margin: 30px auto;
  margin-top: 30px;

  .Modal--visible & {
    animation: scaleIn $transition-length;
  }

  .Modal--invisible & {
    animation: scaleOut $transition-length;
  }

  // TODO: this should not be
  &.Modal-dialog--newTask {
    max-width: 850px;

    .Task-attributes *, .Task-attributes *:hover {
      cursor: default !important;
    }
  }

  @media (max-width: $modal-main-breakpoint) {
    margin: 0 !important;
    border-radius: 0px;
    height: 100%;
    width: 100%;
    max-width: 100%;
    min-height: 1px;
    border: 0;
  }
}

@keyframes scaleIn {
  0%   {transform: scale(0.95);}
  99%  {transform: scale(1);}
  100% {transform: none;}
}

@keyframes scaleOut {
  0%   {transform: scale(1);}
  99%  {transform: scale(0.95);}
  100% {transform: none;}
}
