* {
  box-sizing: border-box;
}

html {
  min-height: 200%;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 15px;
  padding: 0;
  width: 1200px;
  max-width: 100%;
  padding: 0 1em;
  margin: 1em auto;
}

pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;

  code {
    background-color: transparent;
    font-size: 1em;
    padding: 0;
  }
}

code {
  font-family: Menlo, Monaco, Consolas, "Lucida Console", "Courier New", Courier;
  padding: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}

.PlaygroundTOC {
  column-width: 12em;
  padding: 0;
  list-style: none;

  > li {
    column-break-inside: avoid;
    margin-bottom: .2em;

    a {
      color: black;
      text-decoration: none;
      padding: .1em .3em;
      border-radius: .2em;

      &:hover {
        opacity: .4;
      }

      &.active {
        color: white;
        background-color: black;
      }
    }
  }
}

.PlaygroundExample {
  box-sizing: border-box;
  margin: 0;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #ccc;

  .PlaygroundExample-sheet {
    margin-bottom: 1em;
    > h3 {
      background-color: #f5f5f5;
      margin: 0;
      border-radius: 3px 3px 0 0;
      border: 1px solid #d8d8d8;
      border-bottom: 0;
      padding: 9px 10px 10px;
      font-size: 14px;
      line-height: 17px;
      display: block;
    }
    .PlaygroundExample-sheet-body {
      background-color: #fff;
      border: 1px solid #ddd;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      padding: 30px;
    }
  }

  .PlaygroundExample-sheet-body {
    & > :first-child {
      margin-top: 0;
    }
  }

  &:not(.PlaygroundExample--wide) {

    @media (min-width: 700px) {

      .PlaygroundExample-sheet--readme {
        padding-right: .5em;
      }

      .PlaygroundExample-sheet--readme, .PlaygroundExample-sheet--readme + .PlaygroundExample-sheet--demo {
        width: 50%;
        display: inline-block;
        vertical-align: top;
      }

      .PlaygroundExample-sheet--readme + .PlaygroundExample-sheet--demo {
        padding-left: .5em;
      }

    }

    @media (min-width: 900px) {
      .PlaygroundExample-sheet--readme {
        width: 60%;
      }

      .PlaygroundExample-sheet--readme + .PlaygroundExample-sheet--demo {
        width: 40%;
      }
    }

  }

  &:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
}
