* {
  box-sizing: border-box;
}

html {
  min-height: 200%;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 15px;
  padding: 0;
  width: 1200px;
  max-width: 100%;
  padding: 0 1em;
  margin: 1em auto;
}

code {
  font-family: Menlo, Monaco, Consolas, "Lucida Console", "Courier New", Courier;
}

.Playground-TOC {
  column-width: 12em;
  padding: 0;
  list-style: none;

  > li {
    column-break-inside: avoid;
    margin-bottom: .2em;

    a {
      color: black;
      text-decoration: none;
      padding: .1em .3em;
      border-radius: .2em;

      &:hover {
        opacity: .4;
      }

      &.active {
        color: white;
        background-color: black;
      }
    }
  }
}

.Playground-Example {
  box-sizing: border-box;
  margin: 0;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #ccc;

  .Playground-Example-Readme {
    overflow: auto;

    pre {
      overflow: visible;
    }
  }

  @media (min-width: 700px) {

    .Playground-Example-Readme {
      padding-right: .5em;
    }

    .Playground-Example-Readme, .Playground-Example-Readme + .Playground-Example-Demo {
      width: 50%;
      display: inline-block;
      vertical-align: top;
    }

    .Playground-Example-Readme + .Playground-Example-Demo {
      padding-left: .5em;
    }

  }

  @media (min-width: 900px) {
    .Playground-Example-Readme {
      width: 60%;
    }

    .Playground-Example-Readme + .Playground-Example-Demo {
      width: 40%;
    }
  }

  &:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
}
