@import "../../style/inputs.scss";

.CancelableEdit {
  
  &:not(.is-active) {
    
    .Input {
      cursor: pointer;
      border-color: transparent;
      
      &:hover {
        background: $input-state-hover;
      }

    }

  }

}