$avatar-s: 20px;
$avatar-m: 35px;
$avatar-l: 50px;

.Avatar {
  position: relative;
  border-radius: 2px;
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 0;
  vertical-align: middle;
  overflow: hidden;

  .Avatar-image, .Avatar-initials {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    font-weight: 300;
    text-align: center;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
  }

  .Avatar-image {
    background-size: 100%;
  }

  &.Avatar--bordered {
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 1px solid rgba(0,0,0,.05);
      z-index: 2;
      border-radius: 2px;
    }
  }

  &.Avatar--circle {
    &, &:after {
      border-radius: 50%;
    }
  }
}

@mixin avatarSizing($classes, $size) {
  @each $class in $classes {
    .#{$class} {
      width: $size;
      height: $size;
      line-height: $size;
      .Avatar-image, .Avatar-initials {
        font-size: $size / 2.25;
        width: $size;
        height: $size;
      }
    }
  }
}

@include avatarSizing(('avatar-s', 'Avatar--s'), $avatar-s);
@include avatarSizing(('avatar-m', 'Avatar--m'), $avatar-m);
@include avatarSizing(('avatar-l', 'Avatar--l'), $avatar-l);