@import "inputs";
@import "rw-shared";
@import "placeholders";

.rw-multiselect {
  position: relative;

  &.rw-widget {
    @include text-input-style;
    height: auto;
    padding: 0;
    position: relative;
    outline: 0;
    -moz-background-clip: border-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    background-color: $input-bg;
    border: $input-border $input-border-width solid;
    border-radius: $input-border-radius;

    .rw-input {
      border-top-left-radius: $input-border-radius;
      border-bottom-left-radius: $input-border-radius;
      max-width: 100%;
      display: inline-block;

      &::placeholder {
        color: inherit;
        opacity: .3;
      }

      &:focus::placeholder {
        color: inherit;
        opacity: .15;
      }
    }

    > .rw-select {
      border-left: $input-border 1px solid;
    }

    &.rw-state-focus,
    &.rw-state-focus:hover {
      border-color: rgba(#363f4b, .5);
      outline: 0;
    }

    &.rw-state-readonly,
    &.rw-state-readonly > .rw-multiselect-wrapper {
      cursor: not-allowed;
    }

    &.rw-state-disabled {
      &,
      &:hover,
      &:active {
        box-shadow: none;
        background-color: $input-bg-disabled;
        border-color: $input-border;
      }
    }

    &.rw-rtl {

      .rw-input {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: $input-border-radius;
        border-bottom-left-radius: $input-border-radius;
      }

      > .rw-select {
        border-right: $input-border 1px solid;
        border-left: none;
      }
    }
  }

  &:focus, *:focus {
    outline: none;
  }

  .rw-input {
    border: none;
    display: inline;
    float: left;
    background: none;
  }

  .rw-multiselect-wrapper {
    border: 0;
    border-radius: $input-border-radius;
    width: 100%;
    @extend %clearfix;
  }

  .rw-multiselect-taglist {
    @extend %cleafix;
    margin: 0;
    padding: 2px 0 0 3px;
    list-style: none;

    li {
      background: $input-state-hover;
      border-radius: 3px;
      height: inherit;
      display: inline-block;
      padding: 4px 23px 5px 7px;
      margin: 3px;
      white-space: nowrap;
      float: left;
      max-width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      position: relative;

      .rw-btn {
        background: none;
        border: none;
        position: absolute;
        right: 7px;
        top: 6px;
        padding: 0;
      }

      .rw-sr {
        display: none;
      }
    }

    &+ .rw-input {
      margin-top: -2px;
    }
  }

  .rw-popup-container {
    overflow: auto;
    z-index: 3;

    .rw-widget {
      width: 100%;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 5px;

      li {
        padding: 5px;

        &:hover, &.rw-state-focus {
          background: $input-state-hover;
          cursor: pointer;
        }

        strong {
          word-break: break-word;
        }
      }
    }
  }

  &.rw-open {
    .rw-multiselect-wrapper {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }

}

.rw-select-list .rw-select-wrapper {
  border: 0;
}