@mixin text-input-placeholder($opacity) {
  &::-webkit-input-placeholder {
    color: inherit;
    opacity: $opacity;
  }
  &:-moz-placeholder {
    color: inherit;
    opacity: $opacity;
  }
  &::-moz-placeholder {
    color: inherit;
    opacity: $opacity;
  }
  &:-ms-input-placeholder {
    color: inherit;
    opacity: $opacity;
  }
}

@mixin text-input-style {
  display: block;
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.42857;
  color: inherit;
  background-color: #fff;
  background-image: none;
  border: 1px solid rgba(#363f4b, .2);
  border-radius: 3px;
  outline: none;
  @include text-input-placeholder(.3);

  &:focus {
    border-color: rgba(#363f4b, .5);
    @include text-input-placeholder(.15);
  }
}