@import 'inputs';

.Form-item {
  margin-bottom: 10px;

  label {
    display: inline-block; // Get pointer events even where text doesn't appear
  }

  .Form-item-label {
    display: block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 600;
  }
}

.Input {
  &[type=text], 
  &[type=email], 
  &[type=password],
  &[type=search] {
    @include text-input-style;
  }

  &[type=checkbox] {
    width: 14px;
    height: 14px;
    margin-right: 6px;
  }
}
