@import 'input-generics';

html body .rw-datetimepicker .rw-popup {
  border: 1px solid rgba(#363f4b, .5);
  border-top: 0;
  box-shadow: 0 1px 1px rgba(#363f4b, .1);
}

html body .rw-calendar .rw-calendar-grid {
  td {
    text-align: center;
  }
}