@import 'input-generics';


html body .rw-multiselect.rw-widget {
  @include text-input-style;
  padding: 0;
}

html body .rw-select-list .rw-select-wrapper {
  border: 0;
}

html body .rw-multiselect .rw-multiselect-wrapper {
  border: 0;
}

html body .rw-multiselect.rw-widget.rw-state-focus, 
html body .rw-multiselect.rw-widget.rw-state-focus:hover {
  border-color: rgba(#363f4b, .5);
  box-shadow: none;
}

html body .rw-multiselect.rw-widget .rw-input {
  font-size: 14px;
  padding: 9px 10px;
  @include text-input-placeholder(.3);
  &:focus {
    @include text-input-placeholder(.15);
  }
}

html body .rw-multiselect .rw-popup-container {
  border-color: rgba(#363f4b, .35);
  width: calc(100% + 2px) !important;
  left: -1px !important;
  top: -1px !important;
  position: relative;
  z-index: 3;
}