@import "mixins";
@import "colors";

$color-table-border: $color-gallery;
$color-table: $color-silver-chalice;
$color-page: $color-scorpion;
$color-page-active: $color-white;
$color-page-active-background: $color-silver-chalice;
$color-page-border: $color-silver-chalice;
$color-page-hover-background: $color-gallery;
$color-page-disabled: $color-alto;

.Table {
  table {
    width: 100%;
    text-align: left;

    thead th, tbody td {
      border-top: 1px solid $color-table-border;
    }

    thead th {
      padding: 15px;
      font-weight: normal;
    }

    tbody td {
      padding: 10px 15px;
      color: $color-table;
    }
  }

  .pull-left { // there isn't a better selector for this :'(
    float: left;
  }

  .pagination {
    float: right;

    li {
      list-style: none;
      display: inline-block;

      a {
        display: inline-block;
        text-align: center;
        text-decoration: none;
        width: 25px;
        padding: 0.5em 0;
        border: 1px solid $color-page-border;
        border-right: 0;
        color: $color-page;

        &:hover {
          background: $color-page-hover-background;
        }
      }

      &.active a {
        color: $color-page-active;
        background: $color-page-active-background;
        cursor: default;
      }

      &.next a:after {
        content: "\203A";
      }

      &.last a:after {
        content: "\00BB";
      }

      &.prev a:after {
        content: "\2039";
      }

      &.first a:after {
        content: "\00AB";
      }

      &.first a {
        border-radius: 3px 0 0 3px;
      }

      &.last a {
        border-radius: 0 3px 3px 0;
      }

      &.disabled a {
        color: $color-page-disabled;
        cursor: default;

        &:hover {
          background-color: transparent;
        }
      }

      &:last-child a {
        border-right: 1px solid $color-page-border;
      }
    }
  }

  .sort-off, .sort-asc, .sort-desc {
    width: 10px;
    font-style: normal;
    margin-left: 5px;
    font-size: 12px;
  }

  .sort-off:after {
    content: "\21C5";
  }

  .sort-desc:after {
    content: "\25BC";
  }

  .sort-asc:after {
    content: "\25B2";
  }
}