@import "colors";
@import "rw-shared";

$color-calendar: $color-scorpion;
$color-calendar-selected-date: $color-gull-gray;
$color-calendar-hover-date: $color-gallery;

.rw-calendar {
  background-color: $widget-bg;
  width: 100%;
  font-size: 12px;
  border: 0;
  
  .rw-header {
    padding-bottom: 5px;
    text-align: center;

    .rw-btn {
      display: inline-block;
      height: 30px;
      font-weight: 600;
      min-width: 35px;
      line-height: $input-line-height;
      padding: 5px;
      border-radius: $input-border-radius;
      outline: 0;
      vertical-align: top;
      &:hover {
        background-color: $input-state-hover;
      }
    }

    
    .rw-btn-left,
    .rw-btn-right {
      width: 30px;
    }

    .rw-btn-view {

      &:hover {
        background-color: $input-state-hover;
      }

      &[disabled] {
        @include state-disabled;
      }
    }
  }

  .rw-footer {
    border-top: 1px solid $input-border;
    
    .rw-btn {
      width: 100%;
      white-space: normal;
      
      &:hover {
        background-color: $input-state-hover;
      }

      &[disabled] {
        @include state-disabled;
      }
    }
  }
}


.rw-calendar-grid {
  height: 200 / 14em;
  table-layout: fixed;
  width: 100%;

  th {
    text-align: center;
    padding:    0;
  }

  .rw-btn {
    text-align: center;
  }

  td {
    text-align: center;

    .rw-btn {
      border-radius: $input-border-radius;
      outline: 0;
      padding: 8px 9px;
      margin: 1px;

      &:hover, &.rw-state-focus {
        background-color:   $state-bg-hover;
      }
      &.rw-off-range {
        color: lighten($btn-color, 50%)
      }

      &.rw-state-selected {
        background-color:   $state-bg-select;
        color: $state-color-select;
      }

    }
  }

  &.rw-nav-view {

    .rw-btn {
      padding: 8px 9px;
      display: inline-block;
      overflow: hidden;
      text-align: center;
      white-space: normal;
    }
  }
}