$guider-body-text-color: #2e3842;
$guider-actions-background-color: #f4f7fa;

.Modal-dialog.Prompt {
  width: 400px;
  height: initial;
  min-height: 0px;
  .Modal-content {
    padding: 0;
  }

  .Prompt-body {
    margin: 0px;
    line-height: 1.2;
    padding: 10px 20px;
    color: $guider-body-text-color;

    p {
      margin: 0px 0px 10px;
    }

    input[type=text] {
      width: 100%;
    }
  }

  .Prompt-actions {
    margin: 25px -20px -10px;
    padding: 10px 20px;
    text-align: right;
    background-color: $guider-actions-background-color;

    > * {
      margin-left: 0.5em;
    }
  }
}
