$guider-body-text-color: #2e3842;
$guider-actions-background-color: #f4f7fa;

.Modal-dialog.Prompt {
  width: 400px;
  height: initial;
  min-height: 0px;

  .Prompt-header {
    padding: 20px 20px 0px;

    a {
      float: right;
      margin-top: -2px;
      font-size: 21px;
      font-weight: bold;
      line-height: 1;
      color: black;
      opacity: 0.2;
    }

    h3 {
      margin: 0px;
      line-height: 1.42;
      font-size: 18px;
      font-weight: 600;
    }
  }

  .Prompt-body {
    margin: 0px;
    line-height: 1.2;
    padding: 10px 20px;

    p {
      margin: 0px 0px 10px;
      color: $guider-body-text-color;
    }

    input[type=text] {
      width: 100%;
    }
  }

  .Prompt-actions {
    margin: 25px -20px -10px;
    padding: 10px 20px;
    text-align: right;
    background-color: $guider-actions-background-color;

    > * {
      margin-left: 0.5em;
    }
  }
}
