$component-name: 'Avatar';

.avatar-wrap, .#{$component-name}-container {
  position: relative;
  border-radius: 2px;
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 0.01px;
  .avatar, .#{$component-name} {
    margin: 0;
    border-radius: 2px;
    display: inline-block;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba(0,0,0,.05);
    z-index: 2;
    border-radius: 2px;
  }
}

@mixin avatarSizing($classes, $size) {
  @each $class in $classes {
    .#{$class} {
      width: $size;
      height: $size;
      line-height: $size - 1px;
      .avatar, .#{$component-name} {
        width: $size;
        height: $size;
        line-height: $size - 1px;
      }
    }
  }
}

@include avatarSizing(('avatar-s', $component-name + '-s'), $avatar-s);
@include avatarSizing(('avatar-m', $component-name + '-m'), $avatar-m);
@include avatarSizing(('avatar-l', $component-name + '-l'), $avatar-l);