$color-border: rgba(0,0,0,0.2);

.ButtonGroup {
  > * {
    border-radius: 0;
    border: {
      top: 2px solid $color-border;
      right: 1px solid $color-border;
      bottom: 2px solid $color-border;
      left: 1px solid $color-border;
    }

    &:first-child {
      border-radius: 3px 0 0 3px;
      border-left: 2px solid $color-border;
    }
    &:last-child {
      border-radius: 0 3px 3px 0;
      border-right: 2px solid $color-border;
    }
  }
}