@import "colors";
@import "variables";
@import "placeholders";

// Component Overrides
$app-base-padding: $app-base-padding;
$app-header-bg: $color-indigo;
$sort-bg: $color-indigo;
$app-base-padding: 20px;
$nav-secondary-height: 60px;
$color-nav-link: $color-white;
$color-action-icon: $color-white;
$color-search-border: $color-white;
$color-search-text: $color-silver-chalice;

.ActionsBar {
  background: $app-header-bg;
  @extend %clearfix;
  padding: 0 $app-base-padding;

  .ActionsBar-title {
    float: left;
    margin: 0 20px 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 300;
    color: #fff;
    outline: 0;
    @extend %header-secondary-heights;
    font-size: 21px;
    width: 200px;
    cursor: pointer;
  }

  .ActionsBar-navigation {
    float: left;

    .ActionsBar-navigation-title {
      font-weight: 600;
      color: rgba($color-nav-link, .4);
      padding-right: 10px;
      font-size: 11px;
    }
    .ActionsBar-navigation-link {
      height: $nav-secondary-height;
      line-height: $nav-secondary-height - 3px;
      display: inline-block;
      color: rgba($color-nav-link, .7);
      margin: 0 12px 0 0;
      text-decoration: none;
      @extend %header-secondary-heights;
      &:hover, &.active {
        color: $color-nav-link;
        text-decoration: none;
      }
      &.active {
        border-bottom: 4px solid rgba(#000, .7);
      }
    }
  }

  .ActionsBar-actions {
    float: right;

    .ActionsBar-actions-control {
      @extend %header-block;
      @extend %header-secondary-heights;
      color: rgba($color-action-icon, .6);
      padding: 0 5px;
      text-decoration: none;
      vertical-align: middle;
      path {
        fill: rgba($color-action-icon, .6);
      }
      &:hover {
        text-decoration: none;
        cursor: pointer;
        color: $color-action-icon;
        path {
          fill: $color-action-icon;
        }
      }
    }

    // Searchbox Styles
    .ActionsBar-actions-search {
      @media(max-width: 750px) {
        display: none;
        width: 100px;
        transition: width .2s;
        &:focus {
          width: 150px;
          transition: width .2s;
        }

        .AppHeader-actions-controls--searchMode & {
          display: block;
        }
      }
      border: 1px solid rgba($color-search-border, .6);
      background: none;
      border-radius: 4px;
      font-weight: 400;
      outline: 0;
      padding: 0 10px;
      font-size: 13px;
      line-height: 1;
      @extend %header-block;
      width: 150px;
      border-radius: 20px;
      height: $nav-secondary-height - 28px;
      margin: 13px 0;

      &::placeholder {
        color: rgba(#fff, .5);
        font-weight: 300;
      }

      &:hover {
        border-color: rgba(#fff, .6);
      }

      &:focus {
        background: rgba(#fff, .9);
        color: $color-search-text;
        &::placeholder {
          color: $color-search-text;
          font-weight: 400;
        }
      }
    }
  }
}