@import "../icon-button/style";

$color-button-delete-hover: white !default;
$color-button-delete-background-hover: #d46060 !default;

.IconButton.DeleteButton {
  letter-spacing: -.5px;

  &:focus,
  &:hover {
    color: $color-button-delete-hover;
    background-color: $color-button-delete-background-hover;
  }
}
