@import "../../style/colors.scss";

$color-card-background: $(color-white);
$color-header-content-text: rgba(158, 175, 186, 1);

$app-base-screen-xsmall:        320px;
$app-base-screen-small:         550px;
$app-base-screen-medium:        750px;
$app-base-screen-large:         1024px;

.Card {
  margin: 5px;
  background: $color-card-background;
  border-radius: 2px;
  display: inline-block;
  vertical-align: top;
  overflow: auto;
  @media (min-width: $app-base-screen-large + 1) {
    width: calc(25% - 10px);
    &:nth-child(4n+1) {
      clear: left;
    }
  }
  @media(min-width: $app-base-screen-medium + 1) and (max-width: $app-base-screen-large) {
    width: calc(33% - 10px);
    &:nth-child(3n+1) {
      clear: left;
    }
  }
  @media(min-width: $app-base-screen-small + 1) and (max-width: $app-base-screen-medium) {
    width: calc(50% - 10px);
    &:nth-child(2n+1) {
      clear: left;
    }
  }
  @media(max-width: $app-base-screen-small) {
    width: calc(100% - 10px);
    clear: both;
  }
}
.Card-header {
  padding: 10px;
  position: relative;
}
.Card-title {
  margin: 0;
  padding-right: 25px;
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
}
.Card-header-content {
  color: $color-header-content-text;
  font-size: 14px;
}

.Card-action {
  position: absolute;
  top: 14px;
  right: 10px;
  cursor: pointer;
  opacity: .3;
  user-select: none;
  &:hover {
    opacity: .6;
  }
}
.Card-action-dropdown {
  min-width: 120px;
}
.Card-content {
  padding: 10px;
}