@import "../../style/colors.scss";

.Card {
  p {
    margin: 0;
    padding: 0;
  }
}
.ProjectsCard-stats {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  overflow: auto;
  margin: -10px 0 5px;
}
.ProjectsCard-stat {
  width: 50%;
  float: left;
  display: inline-block;
  text-align: center;
  padding: 5px 0;
  &:first-child {
    border-right: 1px solid #eee;
  }
}
.ProjectsCard-stat-count {
  display: block;
  font-weight: 500;
  display: block;
  margin: 0 0 -5px;
  font-size: 18px;
}
.ProjectsCard-members {
  .Avatar {
    margin: 5px 5px 0 0;
  }
}

.CardContainer {
  background: $color-catskill-white;
  padding: 5px;
}