@import "../cancelable-edit/style";

.CancelableEdit-markdown {
  @include CancelableEdit-edit();
  cursor: default;

  & > *:first-child {
    margin-top: 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}
