@import "mixins";
@import "typography";
@import "colors";

$color-button-default-border: $color-silver-chalice;
$color-button-default-background: $color-gallery;
$color-button-success-background: $color-sushi;
$color-button: $color-white;
$color-button-success-border: darken($color-button-success-background, 5%);

.Button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  user-select: none;
  padding: 6px 10px;
  font-size: $base-font-size;
  line-height: 1.428571429;
  border-radius: 3px;

  &.Button--default {
    @include button-variant($color-button, $color-button-default-background, lighten($color-button-default-border, 20%));
  }

  &.Button--success {
    @include button-variant($color-button, $color-button-success-background, $color-button-success-border);
  }
}
