body {
  font-family: Helvetica;
  font-size: 15px;
  padding: 0px;
  max-width: 1200px;
  margin: auto;
}

.Playground {
	box-sizing: border-box;
	border: 1px solid #ddd;
	margin: 0px;
	padding: 5px;
}
