body {
  font-family: 'Open Sans', 'Helvetica Neue', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 15px;
  padding: 0px;
  width: 1200px;
  max-width: 100%;
  padding: 0 1em;
  margin: auto;
}

.Playground {
  box-sizing: border-box;
  margin: 0px;
}
